.title {
	@include adaptive-font(36, 24);
	margin: 0;
	line-height: 121%;
	letter-spacing: 0.01em;
	color: var(--tundora-color);

	@media (min-width: 1200px) {
		font-size: 36px;
	}

	@media (max-width: 576px) {
		text-align: center;
	}
}

.text {
	@include adaptive-font(18, 16);
	margin: 0;
	font-size: 18px;
	line-height: 167%;

	@media (min-width: 1440px) {
		font-size: 18px;
	}

	@media (max-width: 576px) {
		text-align: center;
	}
}

.link {
	position: relative;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 0.02em;
	color: var(--blue-color);

	&::after {
		content: '';
		position: absolute;
		left: 50%;
		top: 100%;
		border-top: 2px solid var(--blue-color);
		width: 0;
		transition: all 0.4s;
	}

	&:hover {
		&::after {
			left: 0;
			width: 100%;
		}
	}
}

.card {
	position: relative;
	padding: 135px 25px 0;
	max-width: 330px;

	&__img {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 0;
	}

	&__content {
		position: relative;
		z-index: 1;
		padding: 20px 15px;
		max-width: 280px;
		background-color: var(--light-color);
		opacity: 0.95;
	}

	&__title {
		@include adaptive-font(24, 20);
		position: relative;
		margin: 0;
		margin-bottom: 15px;
		line-height: 130%;
		letter-spacing: 0.01em;
		color: var(--tundora-color);

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: calc(100% + 4px);
			border-top: 2px solid var(--dark-color);
			width: 30px;
			opacity: 0.1;
		}

		@media (min-width: 1200px) {
			font-size: 24px;
		}
	}

	&__text {
		margin: 0;
		font-size: 15px;
		line-height: 171%;
		transition: color 0.4s;
	}

	&:hover .card__text {
		color: var(--blue-color);
	}
}
