// * Максимальная ширина макета
$container-width: 1175;

:root {
	// * Colors
	--dark-color: #000;
	--mako-color: #434a54;
	--light-color: #fff;
	--dove-gray-color: #666;
	--tundora-color: #4a4a4a;
	--blue-color: #1d6ff3;
	--gallery-color: #eee;
	--dusty-color: #979797;
	--pale-color: #637280;
}
