.activity {
	padding-top: 30px;

	&__container {
		display: flex;
		align-items: center;
		max-width: 1150px;

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__inner-img {
		margin-right: 10px;

		&--hidden {
			display: none;
		}

		@media (max-width: 768px) {
			display: none;
			margin-right: 0;
			max-width: 400px;

			&--hidden {
				display: block;
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 75px 70px 95px 15px;
		max-width: 520px;

		@media (max-width: 768px) {
			margin-bottom: 20px;
			padding: 0;
		}
	}

	&__title {
		margin-bottom: 15px;
	}

	&__text {
		margin-bottom: 30px;
	}
}
