.description {
	padding-top: 30px;
	padding-bottom: 40px;

	&__container {
		display: flex;
		align-items: center;
		max-width: 1150px;

		@media (max-width: 768px) {
			flex-direction: column;
		}
	}

	&__inner-img {
		@media (max-width: 768px) {
			max-width: 400px;
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 75px 25px 95px 15px;
		max-width: 520px;

		@media (max-width: 768px) {
			margin-bottom: 20px;
			padding: 0;
		}

		@media (max-width: 576px) {
			align-items: center;
		}
	}

	&__title {
		margin-bottom: 20px;
	}

	&__text {
		margin-bottom: 50px;

		@media (max-width: 576px) {
			margin-bottom: 20px;
		}
	}
}
